<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Basic_LoginPage_Validation_Using_Servlets</display-name>
   <servlet>
	   <servlet-name>log</servlet-name>
	   <servlet-class>com.pavan.LoginServlet</servlet-class>
   </servlet>
   <servlet-mapping>
   	   <servlet-name>log</servlet-name>
   	   <url-pattern>/login</url-pattern>
   </servlet-mapping>
   
     <servlet>
	   <servlet-name>sucess</servlet-name>
	   <servlet-class>com.pavan.LoginSuccessful</servlet-class>
   </servlet>
   <servlet-mapping>
   	   <servlet-name>sucess</servlet-name>
   	    <url-pattern>/correct</url-pattern>
   </servlet-mapping>
   
   <servlet>
	   <servlet-name>fail</servlet-name>
	   <servlet-class>com.pavan.LoginUnSucessful</servlet-class>
   </servlet>
   <servlet-mapping>
   	   <servlet-name>fail</servlet-name>
   	   <url-pattern>/incorrect</url-pattern>
   </servlet-mapping>
   
   
</web-app>